.section
  %h3 Wunschliste
  %p
    Usergroups leben von Vorträgen und dem Engagement der Teilnehmer.
    Wenn du ein Thema vermisst, oder nähre Informationen zu speziellen Bereichen suchst,
    dann kannst du hier gerne etwas in die Wunschliste eintragen.

  %p
    Solltest du schon eine Idee zu einem Vortrag oder ähnlichem haben,
    dann kannst du ihn hier eintragen, um Feedback von der Community zu bekommen.

  = render partial: 'add_wish'

  = render wishes

.pagination
  = will_paginate wishes
