.DS_Store
log/*
tmp/*
db/*.sqlite3
coverage
solr
public/cache
public/system
public/javascripts/*_packaged.js
doc/specs.html
doc/features.html
tags
*.sw?
*~
rerun.txt
.bundle
db/schema.rb
specifications
cache
gems
.rvmrc
