.DS_Store
log/*.log
tmp/*
db/*.sqlite3*
coverage
public/assets
public/cache
public/system
public/javascripts/*_packaged.js
public/stylesheets/admin
doc/specs.html
doc/features.html
tags
*.sw?
*~
rerun.txt
.bundle
specifications
cache
spec/reports/
.vagrant
Vagrantfile
secret.properties
