@import "compass"
@import "compass/css3"
@import "compass/utilities/text/replacement"

@import "_lib/responsive"


@import "cologne/colors"
@import "cologne/dimensions"
@import "cologne/typography"

header
  #title
    color: $dark-text-color
    +single-text-shadow($light-text-color, 1px, 1px, 2px)
    +transition-duration(0.2s)
    +transition-timing-function(ease-in-out)
    width: 350px
    +phone
      width: auto
    margin-left: $padding
    +phone
      margin-left: 0
      margin-top: $padding

    display: inline-block
    &:hover
      color: $red !important
      +single-text-shadow($dark-text-color, 1px, 1px, 2px)
    h1, h2
      font-family: UbuntuBold, arial, verdana, sans-serif
      font-weight: normal
      padding-left: 0
    h1
      font-size: $font-ubuntu-large
      +phone
        font-size: $font-ubuntu-big
    h2
      font-size: $font-ubuntu-big
      +phone
        font-size: $base-font-size

a:hover
  color: $red

.container
  background-image: image-url("whitey.png")

nav#nav
  +background(linear-gradient(color-stops(lighten($dark-grey, 20%), $dark-grey)))
  border-color: $light-grey
  color: $light-text-color
  li
    color: $light-text-color
    a, a:active, a:visited
      color: $light-text-color
      &:hover
        color: $light-gold

.main section, header #login
  background: $white
  border: none
  color: $dark-text-color
  +single-box-shadow($light-grey, 1px, 1px, 3px, false, true)

#gem
  width: 149px
  height: 449px
  position: fixed !important
  bottom: 40px
  left: 20px
  z-index: 90
  img
    z-index: 95
  #beer
    position: absolute
    bottom: 0px
    width: 149px
    height: 449px
    background: image-url("labels/cologne/gem-glas-full.png") left bottom no-repeat
    z-index: 96
  +phone
    left: initial
    right: 50px
    zoom: 0.3
#refill
  position: fixed !important
  bottom: 10px
  left: 54px
  text-decoration: none
  font: normal 2em UbuntuBold,arial,verdana,sans-serif
  z-index: 90
  opacity: 0
  a:hover
    @include text-shadow(0px 0px 1px $dark-grey)
    color: $red
