.section

  %h3 Twitter timeline:
  %ul.tweets
    = render partial: 'shared/tweet', collection: tweets

  %h3 Ruby Users
  %ul
    - @users.each do |user|
      = render partial: 'shared/user', locals: {user: user}

.pagination
  = will_paginate @users
