- if flash.present?
  #fancy_growl
    - uid = "fancy_flash"
    .hidden= fancy_link_to 'not visisble', '#', uid
    = fancy_box uid do
      - flash.each do |key, value|
        %h3{class: key}= value