.add
  -if current_user
    - if current_user.participates?(@event)
      = link_to current_user.participation(@event), :method => :delete, :class => :button do
        =image_tag('minus.png')
        abmelden
    -else
      = link_to(add_user_participant_path(@event.id), {:class => :button}) do
        =image_tag('plus.png')
        teilnehmen
  - else
    =link_to(auth_path, :class => :button) do
      =image_tag('minus.png')
      teilnehmen