%span
  -if current_user
    - if current_user.participates?(@event)
      = link_to current_user.participation(@event), {:method => :delete, :class => :button, :title => 'abmelden'} do
        =image_tag('minus.png', :title => 'abmelden', :alt => 'abmelden')
    -else
      = link_to(add_user_participant_path(@event.id), {:class => :button, :title => 'teilnehmen'}) do
        =image_tag('plus.png', :title => 'teilnehmen', :alt => 'teilnehmen')
  - else
    =link_to(auth_path, :class => :button, :title => 'teilnehmen') do
      =image_tag('plus.png', :title => 'teilnehmen', :alt => 'teilnehmen')
