- if user.github
  - cache("repos_#{user.nickname}", expires_in: 1.day) do
    - r = repos user.github
    - unless r.empty?
      %dl.repos.toggle_repos
        %dt Beliebteste Github Repositories:
        %dd= r.map { |repo| link_to repo.name, repo.url }.join(", ").html_safe
