@import "compass/reset";
@import "compass/css3/border-radius";

$red:#f03a15;
$beige:#f2f2e8;
$brown:#5b4e4e;
$text:#444;

@font-face { font-family:hero; src:url("/fonts/hero_light.otf") format("opentype"); }
@font-face { font-family:hero; font-weight:bold; src:url("/fonts/hero.otf") format("opentype"); }

html {
  border-top:2px solid $brown;
}

body {
  background:$beige;
  color:$text;
  font:13px/20px arial,verdana,sans-serif;
}

a:link, a:visited {
  color:$brown;
  text-decoration:underline;
}

a:hover, a:active {
  color:$red;
  text-decoration:none;
}

.header {
  margin:50px auto 70px auto;
  width:800px;

  h1 {
    color:$red;
    font:90px/80px hero,arial,verdana,sans-serif;

    a {
      text-decoration:none;

      &:link, &:visited {
        color:$red;
      }

      &:hover, &:active {
        color:$brown;
      }
    }
  }

  h2 {
    color:$brown;
    font:bold 18px/22px hero,arial,verdana,sans-serif;
    margin-left:7px;
    width:300px;
  }
}

.cellwrap {
  display:table;
  width:100%;
}

.cell {
  display:table-cell;
  width:50%;
}

#menu {
  li {
    background:url(/images/nupsi_left_brown.png) left 9px no-repeat;
    width:100%;

    span {
      display:table-cell;
      width:100%;
    }

    b {
      background:$beige;
      display:table-cell;
      font-weight:normal;
      width:100%;

      a {
        display:block;
        height:40px;

        /* change the margin-right and with for long menu items */
        margin:0 295px 0 15px;
        width:100px;

        &:link, &:hover {
          text-decoration:none;
        }
      }
    }
  }
}

#stage {
  margin-left:-220px;

  .section:first-child {
    background-position:right 20px;

    h3 {
      padding-top:0;
    }
  }

  p, ul, ol {
    margin-bottom:30px;
  }

  p {
    width:600px;
  }

  ul {
    list-style:disc outside;
    margin-left:15px;
  }

  .section {
    background:url("/images/nupsi_right_red.png") right 55px no-repeat;
  }

  h3 {
    background:$beige;
    color:$red;
    display:inline-block;
    font:normal 28px/36px hero,arial,verdana,sans-serif;
    padding:35px 15px 25px 0;
  }
}
