// This import applies a global reset to any page that imports this stylesheet.
@import "blueprint/reset";

// To configure blueprint, edit the partials/base.sass file.
@import "partials/base";

// Import all the default blueprint modules so that we can access their mixins.
@import "blueprint";

// Import the non-default scaffolding module.
@import "blueprint/scaffolding";

// To generate css equivalent to the blueprint css but with your configuration applied, uncomment:
// +blueprint

@import "compass/css3/box";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "blueprint/fancy-type";
@import "compass/utilities/lists/bullets";

// Page layout can be done using mixins applied to your semantic classes and IDs:

body {
  @include blueprint-typography(true);
  @include blueprint-utilities;
  @include blueprint-debug;
  @include blueprint-interaction;
  @include blueprint-scaffolding;
  
  background-image: url(/images/background.png);
  
  #container {
    @include container;
  }

  header, footer {
    @include column($blueprint-grid-columns, true);
  }
  
  header {
    padding-bottom: 25px;
  }
  
  #sponsors, #imprint {
    border-top: 1px solid gray;
    margin-top: 25px;
    padding-top: 5px;
  }
  #imprint {
    text-align: center;
    margin-top: 10px;
  }
  
  #logo {
    float: left;
  }

  sidebar {
    // One third of the grid columns, rounding down. With 24 cols, this is 8.
    $sidebar-columns: floor($blueprint-grid-columns / 3);
    @include column($sidebar-columns);
  }

  #content {
    $content-columns: ceil(2 * $blueprint-grid-columns / 3);
    @include column($content-columns, true); 
  }
  
  #logo {
    margin-right: 25px;
  }
  
  h1 {
    padding-top: 6px;
    color: dark-gray;
  }
  ul, li {
    @include no-bullets();
    padding: 0px;
    margin: 0px;
  }
  .clear {
    clear: both;
  }
  .right {
    float: right;
  }
  h2, h3, h4 {
    margin-bottom: 0.25em;
  }
  h2 span, h3 span {
    font-size: 14px;
    float: right;
  }
  h3 .button {
    padding: 1px 10px 1px 7px;
    margin: 0px;
    margin-right: 5px;
    font-size: 14px;
  }
  h4 .button {
    padding: 1px 10px 1px 7px;
    margin: 0px;
    margin-right: 5px;
    font-size: 12px;
  }
  label {
    display: block;
  }
  .box {
    border: 1px solid gray;
    margin: 10px;
    padding: 10px;
    @include border-radius(4px, 4px);
    @include box-shadow();
  }
  #add_topics, #add_materials {
    display: none;
  }
  #add_topics textarea, #add_materials textarea {
    height: 100px;
    width: 300px;
  }
  .slide, .pdf, .video, .blog, .reference, .ical, .mail, .user {
    background: scroll left no-repeat;
    padding-left: 20px;
  }
  .slide {
    background-image: url(/images/slide.png);
  }
  .pdf {
    background-image: url(/images/pdf.png);
  }
  .video {
    background-image: url(/images/video.png);
  }
  .blog {
    background-image: url(/images/blog.png);
  }
  .reference {
    background-image: url(/images/reference.png);
  }
  .user {
    background-image: url(/images/user-small.png);
  }
  .mail {
    background-image: url(/images/mail-send.png);
  }
  .ical {
    background-image: url(/images/calendar--plus.png);
    padding-left: 20px;
    padding-bottom: 2px;
  }
  
  #container {
    color: dark-gray;
    background: white;
    @include box-shadow();
    padding: 25px;
  }
  #icons {
    float: right;
  }
  #welcome {
    margin-top: -5px;
    margin-bottom: 25px;
    display: block;
    height: 50px;
  }
  #preview {
    margin-left: 110px;
  }
  #preview ul {
    @include pretty-bullets("calendar-blue.png", 30px, 30px, 30px, 30px);
  }
  #preview li {
    margin-left: 25px;
    padding-top: 3px;
    height: 30px;
  }
  .users li {
    float: left;
    padding: 5px;
  }
  .users img {
    padding: 1px;
    border: 1px solid gray;
    width: 48px;
    height: 48px;
  }
  
  #map_canvas {
    padding: 1px;
    border: 1px solid gray;
    width: 500px;
    height: 500px;
  }
  
  form {
    @include blueprint-form;

    fieldset {
      border: 0;

      label {
        display: inline-block;
        width: 120px;
      }
    }

    ol {
      padding: 0;
      margin: 0;
      list-style-type: none;
    }
  }
}
