== t('home.send_us_an_email', mail_to: mail_to(Whitelabel[:email], 'E-Mail', title: 'E-Mail'))
- if Whitelabel[:twitter]
  ==< t('home.or_message_on_twitter', twitter_link: link_to_twitter(Whitelabel[:twitter]))
| .
