%h3 Impressum:
%dl.imprint
  %dt Seitenbetreiber:
  %dl Peter Schröder, Schanzenstr. 85, 20357 Hamburg, 0178-1391035
  
  %dt Kontakt:
  %dl
    = link_to "E-Mail", "phoetmail@googlemail.com"
    = link_to "Twitter", "http://twitter.com/phoet"
    = link_to "XING", "https://www.xing.com/profile/peter_schroeder2"
