.section
  %h3 Impressum:
  %dl.imprint
    %dt Seitenbetreiber:
    %dl Peter Schröder
    
    %dt Anschrift:
    %dl Schanzenstr. 85
    %dl 20357 Hamburg
  
    %dt Kontakt:
    %dl
      Mobil: +49 178 1391035
    %dl
      E-Mail:
      = mail_to "phoetmail@googlemail.com"
    %dl
      Twitter: 
      =link_to "@phoet", "http://twitter.com/phoet"
    %dl
      Web:
      = link_to "peter-schröder.info", "http://www.peter-schröder.info/"
