%section
  %h3 Impressum:
  %dl.clearfix
    %dt Seitenbetreiber:
    %dd Peter Schröder
    
    %dt Anschrift:
    %dd Schanzenstr. 85</br>20357 Hamburg
  
  %h3 Kontakt:
  %dl.clearfix
    %dt Mobil: 
    %dd+49 178 1391035
    
    %dt E-Mail:
    %dd= mail_to "phoetmail@googlemail.com"
    
    %dt Twitter: 
    %dd=link_to "@phoet", "http://twitter.com/phoet"
    
    %dt Web:
    %dd= link_to "peter-schröder.info", "http://www.peter-schröder.info/"
