= render 'events', events: events, current_event: current_event
= render 'topics', undone_topics: undone_topics, done_topics: done_topics, upcoming_topics: upcoming_topics, organizers: organizers
= render 'people', people: people
= render 'locations', locations: locations
