.event
  .avatar
    = image_tag event.user.image, :width => 48, :height => 48
    %span.rounded
  .info
    %strong= link_to event.name, event
    %dl
      %dt= link_to event.location.name, event.location.url
      %dd= l(event.date)
  %br.clear
