<%= render('events/badge') do %>
  <span class="rounded-full bg-white h-4 w-4 mr-1 flex items-center justify-center">
    <span class="rounded-full bg-primary h-3 w-3 flex items-center justify-center">
      <span class="rounded-full bg-white h-1 w-1 flex items-center justify-center"></span>
    </span>
  </span>
  Live Now
<% end %>
