- unless event.participants.empty?
  %h4 Teilnehmer:
  %ul.participants
    - event.participants.each do |p|
      %li
        = link_to_twitter p.user do
          .avatar
            = image_tag p.user.image, :width => 48, :height => 48
            %span.rounded
  %br.clear