.section
  - if @upcoming_events.size > 0
    %h3 Kommende Ruby Events
    = render partial: 'events', locals: {events: @upcoming_events}
  %h3 Alle Ruby Events
  = render partial: 'events', locals: {events: @events}


.pagination
  = will_paginate @events
