.section
  - if @upcoming_events.size > 0
    %h3 Kommende Ruby Events
    %ul
      - @upcoming_events.each do |event|
        = render partial: 'event', locals: {event: event}

  %h3
    Alle Ruby Events
    = link_to image_tag('ics.png'), events_path(:format => :ics)
  %ul
    - @events.each do |event|
      = render partial: 'event', locals: {event: event}


.pagination
  = will_paginate @events
