.featured
  %h3 Vorträge
  %p
    Möchtest du einen Vortrag auf der Rails Usergroup halten oder hast du zusätzliche Themenvorschläge?
    Dann schicke uns einfach eine
    = mail_to AppConfig.email, "E-Mail"
    oder spreche uns persönlich an:

  %ul
    - AppConfig.organizers.each do |organizer|
      %li= link_to organizer.name, organizer.link

.featured
  %h3 Fork uns
  %p
    Bist du Rails-Entwickler und hast Lust diese Seite weiter zu entwickeln? Den Code findest du auf
    = link_to "GitHub.", "http://github.com/phoet/hamburg_on_ruby"
    Vielleicht bist du aber auch Designer und möchtest am Layout arbeiten oder ein Logo beisteuern?
    Lass es uns einfach wissen.

.featured
  %h3 Spenden
  %p
    Kennst du eine Firma, die gerne für die Hamburger Ruby Community ein paar Euro spenden möchte oder
    spendest du selber gerne etwas? Als Sponsor wirst du auf der Seite prominent verlinkt und der Dank
    der Community ist dir gewiss!
