-if @event
  #event
    %h2
      =@event.name
      =render :partial => 'shared/participate_button'
    %p.sub
      = @event.date
      gehostet durch
      = @event.user.nickname
      bei
      = @event.location.name
      
    %p=@event.description
    
    %h3
      Themen
    %ul
      - @event.topics.each do |t|
        %li=t.name
    
    %h3
      Material
    %ul
      - @event.materials.each do |m|
        %li=link_to(m.name, m.url)
      
    %h3
      Teilnehmer
    .users
      %ul
        - @event.participants.each do |p|
          %li=image_tag(p.user.image)
    .clear
    %h3 Anfahrt
    #map_canvas{'data-map'=>@event.location.to_json}
