-if @event
  #event
    %h2
      =@event.name
      =render :partial => 'shared/participate_button'
    %p.sub
      = @event.date
      gehostet durch
      = @event.user.twitter
      bei
      = @event.location.name
      
    %p=@event.description
    
    %h3
      Themen
      .add
        =link_to 'hinzufügen', new_topic_path
    %ul
      - @event.topics.each do |t|
        %li=t.name
    
    %h3
      Material
      .add
        =link_to 'hinzufügen', new_material_path
    %ul
      - @event.materials.each do |m|
        %li=link_to(m.name, m.url)
      
    %h3
      Teilnehmer
      =render :partial => 'shared/participate_button'
    %ul
      - @event.participants.each do |p|
        %li=p.user

    %h3 Anfahrt
    #map_canvas{:style=>"width:500px; height:500px", 'data-map'=>@event.location.to_json}
    
  
    / = link_to 'Edit', edit_event_path(@event)
    / \|
    / = link_to 'Back', events_path
