<html>
  <head>
    <title><%= @event.name %></title>
  </head>
  <body>
    <h1><%= @event.name %></h1>
    <p><%= @event.description %></p>
    <ul>
      <% @event.topics.each do |topic| %>
        <li><%= topic.name %></li>
      <% end %>
    </ul>
  </body>
</html>