.menu-button
  position: absolute
  top: 4px
  right: 0
.nav-toggle
  $size: 8px

  display: none

  +phone
    display: block
  position: aboslute
  float: right
  border: 1px solid $border-color
  +border-radius(2px)

  i
    margin-right: 10px
    margin-left: 10px