
$primary: #555
$default: #555
$link-decoration: underline

@import "bootstrap"
@import "font-awesome"

$background: white
$container-background: image-url('whitey.png') left top repeat
$title-color: black
$ribbon-color: $title-color
$font: Alef, sans-serif
$base-font-size: 0.8em
$nav-font-size: 1em
$title-font-size: 3em
$sub-title-font-size: $title-font-size / 2
$border-color: lightgray
$border: 1px solid $border-color
$ruby-red: #C81B47

@mixin userimage($size)
  width: $size
  height: $size
  border: $border
  border-radius: 999%

@mixin clearfix
  clear: both

@mixin ribbon
  border: $border
  background: $background
  color: $ribbon-color
  font: 1.1em $font

@mixin hide-text
  $approximate-em-value: 12px / 1em
  $wider-than-any-screen: -9999em
  text-indent: $wider-than-any-screen * $approximate-em-value
  overflow: hidden
  text-align: left

@mixin replace-text($img, $x: 50%, $y: 50%)
  @include hide-text
  background:
    @if is-url($img)
      image: $img
    @else
      image: image-url($img)
    repeat: no-repeat
    position: $x $y


a.btn
  text-decoration: none

body
  background: image-url('whitey.png') left top repeat

.badge-card-header
  background-color: $white
  border: 1px solid $border-color

.card-img-topic
  margin: 1em
  @include userimage(150px)

// https://fontawesome.com/v3.2.1/icons/
.fa-events
  @extend .fa-calendar
.fa-topics
  @extend .fa-comment
.fa-people
  @extend .fa-group
.fa-locations
  @extend .fa-map-marker
.fa-google_oauth2
  @extend .fa-google

.hidden
  display: none

.small-user-image
  margin-right: 0.5em
  @include userimage(1.5em)

.large-user-image
  margin-right: 1em
  @include userimage(6em)

#nav
  img.label
    max-height: 30px
  .user-image
    @include userimage(1.5em)

  font: bold 1.2em $font
  border: $border
  a
    text-decoration: none

.navbar-rounded
  background-color: $white
  border-bottom-right-radius: 0.5em
  border-bottom-left-radius: 0.5em

header
  padding: 2em 2em 4em 2em
  color: $title-color

  #logo
    margin-top: 15px
    margin-left: 0
    width: 100px

  #title, &:hover, &:active, &:visited
    color: $title-color
    text-decoration: none
    h1, h2
      font: bold $title-font-size $font
    h1
      line-height: 1.5em
      letter-spacing: 0.3em
    h2
      font-size: $sub-title-font-size
      letter-spacing: 0.1em

.main
  li.topic, li.event
    margin-left: 5px

  .info-window
    min-width: 150px
    min-height: 50px

  .markdown
    ul
      padding-left: 20px
      li
        list-style: disc

  .hint
    padding-top: 1em
    padding-bottom: 1em
    margin-top: 0em
    margin-bottom: 3em
    ul, li
      padding: 0px
      margin: 0px

  em
    font-style: italic
    font-weight: bolder

  h3
    margin-bottom: 0.5em
    margin-top: 1em

  hr
    border: none
    padding: 1.5em

  p
    margin-bottom: 1em

  li
    list-style: none

  .job-toggle
    float: left
    height: 16px
    width: 16px
    position: relative
    padding-right: 5px
    cursor: pointer
    a
      text-decoration: none
  .close
    @include replace-text(image-path('close.png'), 28, 28)
    float: right
    height: 28px
    width: 28px
    position: relative
    top: -2em
    right: -3em
    cursor: pointer
  .more
    font-style: italic
  .badges
    span
      font-size: smaller
      background-color: white
      padding: 5px
      margin-right: 5px
      margin-bottom: 5px
      border-radius: 5px
      border: $border
      display: inline-block
      white-space: nowrap

  #usergroups, #railsgroups
    a
      text-decoration: none
    li
      padding-bottom: 1em

  section
    padding: 2em
    margin-bottom: 3em
    background: $background
    border: $border
    border-radius: 0.5em

    h2
      font: bold 1.4em $font
      i
        margin-right: 5px
    h3
      font: bold 1.2em $font

    .pagination
      li
        margin: 0em 0em 1em 0em

  .user
    .image
      float: left
      margin-right: 1em
      margin-bottom: 1em
      img
        @include userimage(52px)
    h3
      margin: 0.2em
    @include clearfix
  .imagelist
    ul
      list-style: none
      display: inline-block
      li
        float: left
        margin: 0 2em 2em 0
  .map_canvas
    margin: 0 auto
    height: 30em
    border: $border
    border-radius: 0.5em
  .meta
    font-size: smaller
    font-style: italic
    padding-top: 0.2em
  .likes, .banner
    float: right
    margin-top: 2px
  .pagination
    margin-top: 2em
    a
      text-decoration: none
    a, span.current, span.gap
      font-size: larger
      padding: 0.2em 0.5em 0.2em 0.6em
    .current
      font-weight: bold
    .page, .next, .last, .first, .prev
      margin: 0.2em
      display: inline block
    .page a, .next a, .last a, .first a, .prev a
      background-color: white
      border: $border
      border-radius: 0.5em

  .enumeration
    reset-counter: enumeration
    >li:nth-child(-n+9)
      counter-increment: enumeration
      &:before
        content: "0" counter(enumeration) ". "
    >li:nth-child(n+10)
      counter-increment: enumeration
      &:before
        content: counter(enumeration) ". "
  .inline-wheelmap-status
    height: 12px
    padding-left: 7px
  .wheelmap-status
    display: block

footer
  padding: 0
  margin: 0 0 -1.5em 0
  border-top: $border
  background: $white
  height: 100%

  .hr
    border-bottom: 1px dashed $border-color

  h2
    font: bold 1.4em $font
    padding-bottom: 1em
  ul
    padding: 0
    margin: 0
    list-style: none
  li
    padding-bottom: 1em
  .usergroups, .railsgroups, .railssupporters
    ol
      list-style: lower-greek
    li
      float: left
      padding-right: 1em
      margin-right: 1em
      padding-bottom: 1em
  .railsgroups
    ol
      list-style: armenian
  .railssupporters
    ol
      list-style: katakana
  .sponsors
    ol
      list-style: none
      margin-left: -3em
    li
      display: inline-block
      margin-right: 1em
      padding-bottom: 1em
      img
        height: 60px

.ribbon_wrap
  position: fixed
  bottom: 0px
  opacity: 0.7
  width: 130px
  height: 130px
  font-size: $base-font-size
  a
    height: 30px
    text-decoration: none
    width: 250px
    position: absolute
    top: 52px
    span
      padding: 5px 0
      display: block
      text-align: center
      width: 250px
      @include ribbon
    &#senor_developer
      transform: rotate(45deg)
      left: -65px
    &#patreon
      transform: rotate(45deg)
      left: -65px
    &#rgsoc
      transform: rotate(45deg)
      left: -65px
    &#github
      transform: rotate(-45deg)
      right: -65px
  &#github_ribbon
    right: 0px

.preview
  margin-top: 1em
  margin-bottom: 1em

  &.video
    height: 29em
    iframe
      height: 100%
      width: 100%

  &.image
    height: 10em
    overflow: hidden
    a
      height: 100%
      width: 100%
      display: block
      img
        max-height: 100%
        max-width: 100%
        display: block
        margin: auto
