$top-position: 46px
$background: image-url('whitey.png') left top repeat
$container-background: image-url('black-Linen.png') left top repeat
$title-color: white
$ribbon-color: #444
$font: hero, arial, verdana, sans-serif
$base-font-size: 13px
$title-font-size: 4em
$sub-title-font-size: 1.5em
$border-color: white
$border: 1px solid $border-color

@mixin title-box
  // empty

@mixin nav-box
  width: 100%
  font: bold 1.5em hero,arial,verdana,sans-serif
  border-bottom: 1px solid white
  padding: 0.5em 0em 0.5em 0em

@mixin button
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(#D7D7D7), color-stop(10%, #F2F2F2), color-stop(50%, #C5C5C5), color-stop(50%, #BDBDBD))
  background: -moz-linear-gradient(left top, left bottom, from(white), to(#D7D7D7), color-stop(10%, #F2F2F2), color-stop(50%, #C5C5C5), color-stop(50%, #BDBDBD))
  border-color: #A6A6A6

@mixin ribbon
  background: white
  color: #444
  font-size: 14px
  @include box-shadow(#888 0px 1px 10px)
  @include text-shadow(#888 0px 1px 10px)

@import "compass"
@import "font-awesome"
@import "normalize"
@import "font"
@import "_lib/**/*"
@import "_modules/**/*"
@import "screen"

