/*
 *= require_self
 *= require jquery.mobile
 */

/* jQuery Mobile customizations */

.ui-li-desc {
  white-space: normal !important;
}

h2.ui-collapsible-heading {
  margin-bottom: 4px;
}

h2.ui-collapsible-heading-collapsed {
  margin-bottom: 0px;
}
