title= page_title
meta charset="utf-8"
meta name="description" content="#{meta_desc}"
link type="text/plain" rel="author" href="/humans.txt"
meta content='width=device-width, height=device-height, initial-scale=1.0' name='viewport'
