title= page_title
meta charset="utf-8"
meta name="description" property="og:description" content="#{meta_desc}"
meta name="title" property="og:title" content="#{page_title}"
meta name="image" property="og:image" content="#{share_image_url}"
link type="text/plain" rel="author" href="/humans.txt"
meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport'
