!!! 5
%html
  %head
    %title
    =stylesheet_link_tag('screen', :media => 'screen, projection')
    =stylesheet_link_tag 'buttons.css', :media => 'screen, projection'
    =stylesheet_link_tag('print', :media => 'print')
    =auto_discovery_link_tag(:rss, rss_events_path, {:title => "RSS Feed"})
    /[if lt IE 8]
      =stylesheet_link_tag('ie', :media => 'screen, projection')
    = csrf_meta_tag
  %body
    #container
      %header
        #welcome
          #icons
            =link_to 'http://twitter.com/onruby', :class => 'button' do
              =image_tag('balloon-twitter.png')
              @hamburg_onruby
            =link_to rss_events_path(:type => :rss), :class => 'button' do
              =image_tag('feed.png')
              RSS-Feed
            =link_to 'mailto:hamburg@onruby.de', :class => 'button' do
              =image_tag('mail.png')
              E-Mail
          #login
            -if current_user
              =link_to destroy_session_path, :class => 'button' do
                =image_tag(current_user.image)
                =current_user.nickname
                abmelden
            -else
              =link_to auth_path, :class => 'button' do
                =image_tag('user.png')
                Anmelden via Twitter
        #logo
          -link_to(root_path) do
            =image_tag('logo.gif')
        %h1
          Herzlich willkommen bei #{hor}!
        #preview
          %ul
            -@preview_events.each do |event|
              %li
                =link_to event_path(event) do
                  =l(event.date)
                  %strong=event.name
      %sidebar
        #tweets
          %ul
            - @tweets.each do |tweet|
              %li
                =link_to "http://twitter.com/#{tweet.from_user}", :class => 'button' do
                  =image_tag(tweet.profile_image_url)
                  =tweet.text
        .users
          %ul
            - @random_users.each do |user|
              %li=image_tag(user.image)
        .clear
      %section
        #content
          #flash
            -if notice
              %div.notice=notice
            -if alert
              %div.error=alert
          = yield
      %footer
        #sponsors
          %h2 Vielen Dank an die Sponsoren!
          - 4.times do
            =link_to 'mailto:hamburg@onruby.de', :class => 'button' do
              =image_tag('logo.gif')
              Hier könnte dein Logo stehen!

    =javascript_include_tag('http://maps.google.com/maps/api/js?sensor=true', 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js', 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.6/jquery-ui.min.js', 'rails.js', 'base.js')
