!!! 5
%html
  %head
    %title
    =stylesheet_link_tag('screen', :media => 'screen, projection')
    =stylesheet_link_tag 'buttons.css', :media => 'screen, projection'
    =stylesheet_link_tag('print', :media => 'print')
    =auto_discovery_link_tag(:rss, rss_events_path, {:title => "RSS Feed"})
    /[if lt IE 8]
      =stylesheet_link_tag('ie', :media => 'screen, projection')
    = csrf_meta_tag
  %body
    #container
      %header
        #welcome
          #icons
            =link_to({:action => 'info'}, {:class => 'button'}) do
              =image_tag('information-balloon.png')
              Info
            =link_to 'http://twitter.com/hamburgsync', :class => 'button' do
              =image_tag('balloon-twitter.png')
              Twitter
            =link_to 'mailto:hamburg@onruby.de', :class => 'button' do
              =image_tag('mail.png')
              E-Mail
            =link_to rss_events_path(:type => :rss), :class => 'button' do
              =image_tag('feed.png')
              RSS-Feed
          #login
            -if current_user
              =link_to destroy_session_path, :class => 'button' do
                =image_tag(current_user.image)
                =current_user.nickname
                abmelden
            -else
              =link_to auth_path, :class => 'button' do
                =image_tag('user.png')
                Anmelden via Twitter
        #logo
          -link_to(root_path) do
            =image_tag('logo.gif')
        %h1
          Herzlich willkommen bei #{hor}!
        #preview
          %ul
            -@preview_events.each do |event|
              %li
                =link_to event_path(event) do
                  =l(event.date)
                  %strong=event.name
      %sidebar
        #tweets
          %ul
            - @tweets.each do |tweet|
              %li
                =link_to "http://twitter.com/#{tweet.from_user}", :class => 'button' do
                  =image_tag(tweet.profile_image_url)
                  =tweet.text
        .users
          %ul
            - @random_users.each do |user|
              %li=image_tag(user.image)
        .clear
      %section
        #content
          #flash
            -if notice
              %div.notice=notice
            -if alert
              %div.error=alert
          = yield
      %footer
        #sponsors
          %h2 Vielen Dank an die Sponsoren!
          - 4.times do
            =link_to 'mailto:hamburg@onruby.de', :class => 'button' do
              =image_tag('logo.gif')
              Hier könnte dein Logo stehen!
        .clear
        #imprint
          Impressum: Peter Schröder | Schanzenstr. 85 in 20357 Hamburg | 01781391035
          |
          =mail_to 'phoetmail@googlemail.com'
          |
          =link_to '@phoet', 'http://twitter.com/phoet'
          |
          =link_to 'XING', 'https://www.xing.com/profile/peter_schroeder2'
          
    %a{:href=>"https://github.com/phoet/hamburg_on_ruby"}
      %img{:style=>"position: absolute; top: 0; right: 0; border: 0;", :src=>"https://assets1.github.com/img/4c7dc970b89fd04b81c8e221ba88ff99a06c6b61?repo=&url=http%3A%2F%2Fs3.amazonaws.com%2Fgithub%2Fribbons%2Fforkme_right_white_ffffff.png&path=", :alt=>"Fork me on GitHub"}
    =javascript_include_tag('http://maps.google.com/maps/api/js?sensor=true', 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js', 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.6/jquery-ui.min.js', 'rails.js', 'base.js')
    :javascript
      (function() {
          var s = document.createElement('script'), t = document.getElementsByTagName('script')[0];

          s.type = 'text/javascript';
          s.async = true;
          s.src = 'http://api.flattr.com/js/0.6/load.js?mode=auto';

          t.parentNode.insertBefore(s, t);
      })();
      
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-20148095-1']);
      _gaq.push(['_trackPageview']);
      
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
      